
@import '../../../theme';

.text-box {
    position: relative;
}

.FavoriteButton {
    position: absolute;
    top: -2.5rem;
    right: 1.7rem;
    z-index: 10000;
}

.about {
    width: calc(100% - 4rem);
    margin: 2rem 8rem 0;
    text-align: left;
    font-size: $fnormalmedium;
    color: $white7;
}

.AuthorTile {
    margin: 0.75rem 2.25rem 1.25rem;
    display: flex;
    color: $white7;


    .author-tile {
        margin: 0.25rem 0.5rem;
        display: flex;
        flex-direction: column;

        .author-header {
            display: flex;
            justify-content: space-between;

        }

        .author-info {
            line-height: 110%;            
            color: $white6;
            padding: 0.5rem;
        }

    }

}

.date {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    color: $white5;
    margin-bottom: 0.25rem;

}

.preview {
    .title-box, .subtitle-box, .text-box {
        background: $medium;
    }
}

@media (max-width: $querymedium) {

    .FavoriteButton {
        position: fixed;
        top: .35rem;
        right: 1rem;
    }

}

@media (max-width: $querythin) {
    .AuthorTile {
        margin-left: 0rem;
        margin-right: 0rem;
    }
    .about {
        margin-left: 4rem;
    }
}
