
@import '../../../theme';

.text-box {
    position: relative;
}

.FavoriteButton {
    position: absolute;
    top: 1rem;
    right: 1.7rem;
    z-index: 10000;
}

.AuthorTile {
    margin: 1rem 2.25rem;
    display: flex;
    color: $white7;

    .author-tile {
        margin: 0.25rem 0.5rem;
        display: flex;
        flex-direction: column;

        .author-header {
            display: flex;
            justify-content: space-between;

        }

        .author-info {
            padding: 0.5rem;
        }

    }

}

.date {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    color: $white5;
}

@media (max-width: 700px) {

    .FavoriteButton {
        position: fixed;
        top: .35rem;
        right: 1rem;
    }

}
