
@import '../../../theme';

.text-box {
    position: relative;
}

.FavoriteButton {
    position: absolute;
    top: 1rem;
    right: 1.7rem;
    z-index: 10000;
}

.AuthorTile {
    margin: 1rem 2.25rem;
    display: flex;
    color: $white7;


    .author-tile {
        margin: 0.25rem 0.5rem;
        display: flex;
        flex-direction: column;

        .author-header {
            display: flex;
            justify-content: space-between;

        }

        .author-info {
            line-height: 110%;            
            color: $white6;
            padding: 0.5rem;
        }

    }

}

.date {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    color: $white5;

}

@media (max-width: $querymedium) {

    .FavoriteButton {
        position: fixed;
        top: .35rem;
        right: 1rem;
    }

}

@media (max-width: $querythin) {
    .AuthorTile {
        margin-left: 0rem;
        margin-right: 0rem;
    }
}
