
@import '../../../theme';

.Navbar {
    * {
        font-family: $fmain;
    }

    .navigation-bar {
        background: $darker;
        color: $blue5;
        height: 100vh;
        width: 15rem;
        position: fixed;
        top: 0;
        left: -13.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        transition: left .8s;
        transition-delay: .1s;
        z-index: 999;
        
    }

    .navigation-shadow {
        background: linear-gradient(90deg, $darker, $faded);
        height: 100%;
        width: 0;
        position: fixed;
        top: 0;
        left: 1rem;
        transition: left .8s, width .4s;
        transition-delay: .1s;
    }

    .navigation-bar-wrapper:hover {
        .navigation-bar {
            left: 0;
        }
        + .navigation-shadow {
            left: 15rem;
            width: 100rem;
        }
    }

}

@media (max-width: 700px) {

    $navheight: 2.75rem;
    $opennav: 15rem;

  .NavigationToggle {
    position: fixed;
    top: 0rem;
    left: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0.35rem;
    height: 2rem;
    align-items: center;
    z-index: 10000;
    transition: left .5s, top .5s, height .5s;    

    .nav-line {
      width: 2rem;
      height: .25rem;
      background: $blue5;
      transition: width .5s, height .3s, color .5s, transform .5s, background-color .5s;
    }

  }

    .navigation-bar-wrapper {
        position: fixed;
        top: 0;
        width: 100vw;
        height: $navheight;
        display: block;
        background: $darker;
        z-index: 1000;

        .navigation-bar {
            position: fixed;
            top: -$opennav;            
            right: 0;
            left: 0;
            height: $opennav;
            width: 100vw;
            align-items: flex-start;
            transition: top .5s;
            padding-bottom: $navheight;
        }

    }

    .navigation-shadow {
        position: fixed;
        top: $navheight;
        left: 0;
        right: 0;
        width: 100vw;
        height: 0;
        background: linear-gradient(0deg, $darker, $faded);
        transition: top .8s, height .8s;
        transition-delay: none;
    }

    .navigation-bar-wrapper:hover {
        .navigation-bar {
            width: 100vw;
            display: flex;
            top: $navheight;
        }
        + .navigation-shadow {
            display: none;
            top: $opennav;
            height: 100vh;
        }
        .NavigationToggle {
            top: $opennav + $navheight + 1rem ;
            height: .25rem;
            left: .5rem;

            .nav-line {
                background: $blue8;
                transform: translate(0, -.125rem);
            }
        }
    }

    .main {
        margin-top: ($navheight - 1rem);
    }

    .text-box {
        position: static;
    }

    //BOX-WRAPPER QUERIED IN THEME.SCSS

}
