
@import '../../../../theme';

.SectionTile {
    background: black;
    // margin: 1rem;
    padding: 0.25rem;
    padding-top: 0.75rem;

    .section-title-wrapper {
        display: flex;
        padding-left: 0.5rem;
    }

    .subtitle {
        color: $white8;
    }

    .section {
        width: 100%;
    }
    
}
