
@import '../../../theme';

.CreatePost {

    .input-box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 2rem;
        padding-right: 2rem;

        .input {
            background: $medium;
            color: $white1;
            border: none;
            border-radius: 0.25rem;
            width: 15rem;
            padding: 0 0.5rem;
        }

    }

    select {
        text-align-last: right;
    }

    .title-box {
        * {
            display: flex;
            width: 100%;
            justify-content: center;
        }
    }

    .subtitle-box {
        @extend .input-box ;

        .input {
            font-size: $fmediumnormal;
        }

    }

    .create-box {
        @extend .subtitle-box ;
        background: $darkest;
        border-radius: 0.5rem;
        justify-content: center;
        color: $blue7;
        font-weight: bold;

    }

    .create-box:hover {
        cursor: pointer;
    }

}

@media (max-width: $querythin) {
    body .CreatePost {
        .subtitle-box, .title-box {
            margin-bottom: 1.5rem;
            flex-direction: column;
            .input {
                background: $medium;
                margin-top: 1rem;
                max-width: 100%;
                width: 100%;
                text-align: center;
                padding-top: 0.25rem;
                padding-bottom: 0.25rem;
            }
        }
    }
    
}
