
@import '../../../theme';

.PostTile {
    background: $light;
    padding: 1rem 0.5rem;
    margin: 1rem;
}

@media (max-width: 700px) {
    .PostTile {
        width: 100%;
        padding: 1rem;
    }
}
