
@import '../../../theme';


.SlateEditor, .CreatePost {
    .title-box, .subtitle-box, .text-box {
        background: $darkest;
        color: $blue7;
        border-radius: 0.5rem;
    }
    .editor {
        background: $white001;
        color: $white7;
        padding: 0.5rem;
        border-radius: 0.25rem;
        margin: 1rem 0;
    }
}
