
@import '../../../theme';


.SlateEditor, .CreatePost {
    .title-box, .subtitle-box, .text-box {
        background: $darkest;
        color: $blue8;
        border-radius: 0.5rem;
    }
    .title-box, .subtitle-box {
        flex-direction: row;
        justify-content: space-between;
        padding-left: 2rem;
        padding-right: 2rem;
        input {
            background: $darkest;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            border: none;
            border-radius: 0.25rem;
            font-size: inherit;
            font-family: inherit;
            text-align: right;
            color: $blue8;
            max-width: 55%;
            max-width: auto;
        }
        input:focus {
            background: $medium;
            color: $white7;
            // width: auto;
        }
    }
    .editor {
        background: $medium;
        padding: 0.5rem;
        border-radius: 0.25rem;
        margin: 1rem 0;
        * {
            color: $white6;
        }
    }
    .save-button {
        cursor: pointer;
    }
}

@media (max-width: $querythin) {
    body .SlateEditor {
        .title-box, .subtitle-box {
            margin-bottom: 1.5rem;
            flex-direction: column;
            input {
                margin-top: 1rem;
                text-align: center;
                max-width: 100%;
                width: 100%;
            }
        }
    }
}
