
@import '../../../../theme';

.CommentBox {
    background: $dark;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    padding: 1rem;
    width: calc(100% - 2rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $white7;

    .subtitle {
        color: $white9;
    }

    .Comment {
        width: 100%;
        display: flex;
        background: $darker;
        padding: 0.25rem;
        margin-bottom: 0.5rem;

        .comment {
            width: calc(100% - 2.5rem);
            margin: 0.25rem 0.5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .comment-header {
                width: 100%;
                display: flex;
                justify-content: space-between;
            }

            .comment-body {
                padding: 0.75rem;
                // border-bottom: 0.05rem solid $white5;
            }

            .response-box {
                margin-right: 2.5rem;
            }

            .Response {
                width: 100%;
                display: flex;
                padding: 0.25rem;
                margin-bottom: 0.25rem;
                color: $white6;

                .response {
                    width: calc(100% - 2rem);
                    margin: 0.25rem;

                    .response-header {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                    }

                    .response-body {
                        padding: 0.5rem;
                    }

                }

            }

        }

        .comment-footer {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .comment-buttons {
                display: flex;
            }

        }

    }

    .input {
        display: block;
        background: $dark;
        color: white;
        border: none;
        margin: 0 1rem;
    }

    .input:active { // how to select input when active ? selected ?
        border: none;
    }

    .comment-input {
        @extend .input ;
    }

    .response-input {
        @extend .input ;
    }

}
