
@import '../../../../theme';

.CommentBox {
    background: $light;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $green7;

    .subtitle {
        color: $green1;
    }

    .Comment {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        // align-content: stretch;
        background: $medium;
        margin-bottom: 0.5rem;

        .comment-avatar {
            @extend .avatar ;
        }

        .response-box {
            color: $green5;
            margin: 0 1rem;
        }

    }

    .input {
        display: block;
        background: $dark;
        color: white;
        border: none;
        margin: 0 1rem;
    }

    .input:active { // how to select input when active ? selected ?
        border: none;
    }

    .comment-input {
        @extend .input ;
    }

    .response-input {
        @extend .input ;
    }

}
