
@import '../../../theme';

.Button {

}

/**COMMENTS**/

.Reply {

}

.Reply:hover {
  cursor: pointer;
}

.Submit {

}

.Submit:hover {
  cursor: pointer;
}

/**EDIT POST**/

.EditPostButton {
  position: fixed;
  top: 0.5rem;
  right: 1rem;
}

.EditPostButton:hover {
  cursor: pointer
}

/**NAVIGATION**/

.NavigationButton {
  margin-left: 2rem;
  padding: 0.25rem 2rem;
  font-size: $fmediumsmall;
  border: 2px solid $faded;
  border-radius: 2rem;
  // padding: .5rem;
  transition: background-color .3s, color .3s, font-weight .3s ;
}

.NavigationButton:hover {
  background: $blue9;
  color: $faded9;
  font-weight: bold;
}

.LoginButton {
  @extend .NavigationButton ;
}

.LogoutButton {
  @extend .LoginButton ;
}

/**FAVORITE**/

$favmax: 28px;
$favsize: 12px;
$unfavsize: 9.5px;
$favan: 14px;

.FavoriteButton { //RESPONSIVE CSS FOUND IN POST.CSS
    max-width: $favmax;
    max-height: $favmax;
    display: flex;
    flex-wrap: wrap;
    transform: rotate(225deg);

    .square {
        transition: background-color .5s, transform .5s, height .5s, width .5s;
    }

    .unfavsquare {
        @extend .square ;
        width: $unfavsize;
        height: $unfavsize;
        background: $blue4;
        animation-name: rotationtwo;
        animation-duration: .8s;
        animation-iteration-count: 1;
    }

    .favsquare {
        @extend .square ;
        width: $favsize;
        height: $favsize;
        background: $blue1;
        animation: rotation;
        animation-duration: .8s;
        animation-iteration-count: 1;
    }

}

.FavoriteButton:hover {
    .unfavsquare {
        height: $favsize;
        width: $favsize;
        background: $blue1;
        transform: rotate(90deg);
    }
}

.Favorite {
    @extend .FavoriteButton ;
}

.Favorite:hover {
    .unfavsquare {
        width: $unfavsize;
        height: $unfavsize;
        background: $blue4;
        transform: none;
    }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
    width: $favsize;
    height: $favsize;
  }
  50% {
    width: $favan;
    height: $favan;
  }
  to {
    transform: rotate(180deg);
    width: $favsize;
    height: $favsize;
  }
}

@keyframes rotationtwo {
  from {
    transform: rotate(0deg);
    width: $favsize;
    height: $favsize;
    background: $blue1;
  }
  to {
    transform: rotate(180deg);
    width: $unfavsize;
    height: $unfavsize;
    background: $blue4;
  }
}
