
/**FONT IMPORTS**/

@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Hind');

/**FONTS**/

$fmain: Ubuntu;
$ftext: Hind;

$flarge: 3rem;
$fmediumlarge: 2.5rem;
$fmedium: 2rem;
$fmediumnormal: 1.75rem;
$fmediumsmall: 1.5rem;
$fnormal: 1rem;

/**THEME**/

/**COLORS**/

$faded: rgba(0, 0, 0, 0);
$faded1: rgba(0, 0, 0, 0.1);
$faded2: rgba(0, 0, 0, 0.2);
$faded3: rgba(0, 0, 0, 0.3);
$faded4: rgba(0, 0, 0, 0.4);
$faded5: rgba(0, 0, 0, 0.5);
$faded6: rgba(0, 0, 0, 0.6);
$faded7: rgba(0, 0, 0, 0.7);
$faded8: rgba(0, 0, 0, 0.8);
$faded9: rgba(0, 0, 0, 0.9);
$faded10: rgba(0, 0, 0, 1);

$white1: rgba(255, 255, 255, 1);
$white9: rgba(255, 255, 255, 0.9);
$white8: rgba(255, 255, 255, 0.8);
$white7: rgba(255, 255, 255, 0.7);
$white6: rgba(255, 255, 255, 0.6);
$white5: rgba(255, 255, 255, 0.5);
$white4: rgba(255, 255, 255, 0.4);
$white3: rgba(255, 255, 255, 0.3);
$white2: rgba(255, 255, 255, 0.2);
$white01: rgba(255, 255, 255, 0.1);
$white001: rgba(255, 255, 255, 0.035);

$darkest: #0D0D0D;
$darker: #121212;
$dark: #171717;
$mediumdark: #1C1C1C;
$medium: #262626;
$light: #333;
$lighter: #555;
$lightest: #888;

$blue1: rgba(90, 200, 255, 1);
$blue9: rgba(90, 200, 255, 0.9);
$blue8: rgba(90, 200, 255, 0.8);
$blue7: rgba(90, 200, 255, 0.7);
$blue6: rgba(90, 200, 255, 0.6);
$blue5: rgba(90, 200, 255, 0.5);
$blue4: rgba(90, 200, 255, 0.4);
$blue3: rgba(90, 200, 255, 0.3);
$blue2: rgba(90, 200, 255, 0.2);
$blue01: rgba(90, 200, 255, 0.1);

// $editor1: rgba(140, 230, 255, 1);
// $editor9: rgba(140, 230, 255, 0.9);
// $editor8: rgba(140, 230, 255, 0.8);
// $editor7: rgba(140, 230, 255, 0.7);
// $editor6: rgba(140, 230, 255, 0.6);
// $editor5: rgba(140, 230, 255, 0.5);


$green1: rgba(0, 255, 80, 1);
$green9: rgba(0, 255, 80, 0.9);
$green8: rgba(0, 255, 80, 0.8);
$green7: rgba(0, 255, 80, 0.7);
$green6: rgba(0, 255, 80, 0.6);
$green5: rgba(0, 255, 80, 0.5);

$red1: rgba(255, 0, 0, 1);
$red9: rgba(255, 0, 0, 0.9);
$red8: rgba(255, 0, 0, 0.8);
$red7: rgba(255, 0, 0, 0.7);
$red6: rgba(255, 0, 0, 0.6);
$red5: rgba(255, 0, 0, 0.5);

$yellow1: rgba(200, 190, 0, 1);
$yellow9: rgba(200, 190, 0, 0.9);
$yellow8: rgba(200, 190, 0, 0.8);
$yellow7: rgba(200, 190, 0, 0.7);

$purple1: rgba(100, 50, 220, 1);
$purple9: rgba(100, 50, 220, 0.9);
$purple8: rgba(100, 50, 220, 0.8);
$purple7: rgba(100, 50, 220, 0.7);
$purple6: rgba(100, 50, 220, 0.6);
$purple5: rgba(100, 50, 220, 0.5);
$purple4: rgba(100, 50, 220, 0.4);
$purple3: rgba(100, 50, 220, 0.3);
$purple2: rgba(100, 50, 220, 0.2);
$purple01: rgba(100, 50, 220, 0.1);

/**MARGINS**/

$mbottom: 3rem;

/**MEDIA QUERIES**/

$querywide: 1000px;
$querymediumwide: 850px;
$querymedium: 740px;
$querymediumthin: 650px;
$querythin: 500px;

/**TAGS**/

i {
    font-style: italic;
}

b, strong {
    font-weight: bold;
}

pre {
    display: block;
    max-width: 100%;
    background: $blue8;
    color: black;
    overflow-wrap: normal;
    // line-height: 80%;
    padding: 0.25rem 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    span span {
        color: black !important;
    }
    + pre {
        border-top-left-radius: 0;
        border-top-right-radius:0;
    }
    + pre:last-of-type {
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
    }
}

/**CLASSES**/

.none {
    display: none;
}

.title {
    color: $blue1;
    font-family: $fmain;
    font-size: $flarge;
    font-weight: bold;
    margin-bottom: 1rem;
}

.subtitle {
    color: $blue8;
    font-family: $fmain;
    font-size: $fmedium;
    margin-bottom: 1rem;
}

.box-wrapper {
    background: $darker;
    padding: 1rem;
    margin: 0 25vw $mbottom;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: $fmain;
}

.name {
    color: $white8;
    font-weight: bold;
}

.Avatar {
    font-family: $fmain;
    height: 2rem;
    max-height: 2rem;
    min-height: 2rem;
    width: 2rem;
    max-width: 2rem;
    min-width: 2rem;
    background: black;
    color: $purple1;
    border: 0.125rem solid $purple1;
    border-radius: 10rem;
    margin: 0.2rem;

    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.DateStamp {
    color: $white5;
}

@media (max-width: $querywide) {
    .box-wrapper {
        margin: 0 15vw $mbottom;
    }
}

@media (max-width: $querymediumwide) {
    .box-wrapper {
        margin: 0 12vw $mbottom;
    }
}

@media (max-width: $querymedium) {
    .box-wrapper {
        margin: 0 8vw $mbottom;
    }
}

@media (max-width: $querythin) {
    .box-wrapper {
        margin: 0 2vw $mbottom;
    }
}

.title-box {
    @extend .title ;    
    @extend .box-wrapper ;
}

.subtitle-box {
    @extend .box-wrapper ;
    @extend .subtitle ;
}

.text-box {
    @extend .box-wrapper ;
    color: $blue7;
    font-family: $ftext;
    font-size: $fnormal;
    // font-weight: lighter;
    display: auto;
    text-align: left;
    // line-height: 110%;
    padding: 1rem 1.5rem;

    .text {
        margin-bottom: 0.5rem;
    }

    p {
        color: $blue6;
        line-height: 120%;
        font-weight: 300;
    }

    .alert-box {
        position: absolute;
        top: -$mbottom;
        left: 0;
        right: 0;
        width: 100%;
        height: $mbottom - 1rem;
        max-height: $mbottom;
        padding: 0.5rem 1rem;
        display: flex;
        align-items: flex-end;
        color: $purple1;
    }

    .add-box {
        @extend .alert-box ;
        animation-name: added;
        animation-duration: 8s;        
        animation-iteration-count: 1;        
    }

    .remove-box {
        @extend .alert-box ;
        animation-name: removed;
        animation-duration: 8s;
        animation-iteration-count: 1; 
    }

    .warning-box {
        @extend .alert-box ;
        animation-name: warning;
        animation-duration: 8s;        
        animation-iteration-count: 1;
    }

    .alert-fadeout {
        animation-name: fadeout;
        animation-iteration-count: 1;
        animation-duration: 4s;
    }

}

.content-wrapper {
    display: flex;
    
}

/**WELCOME BOX**/

.welcome-letter {
}

/**WELCOME ANIMATION**/

@keyframes welcome {
    from {
        color: $faded;
    }
    to {
        color: $blue1;
    }
}

/**ALERT ANIMATIONS**/

@keyframes fadeout {
    from {
        color: $purple1;
    }
    to {
        color: $faded;
    }
}

@keyframes added {
    from {
        color: $green8;
    }
    to {
        color: $purple1;
    }
}

@keyframes removed {
    from {
        color: $yellow8
    }
    to {
        color: $purple1;
    }
}

@keyframes warning {
    from {
        color: $red8;
    }
    to {
        color: $purple1;
    }
}

//RESPONSIVE CSS FOUND IN NAVBAR.CSS
