
/**TAGS**/

i {
    font-style: italic;
}

b, strong {
    font-weight: bold;
}

/**THEME**/

/**COLORS**/

$faded: rgba(0, 0, 0, 0);
$darker: #121212;
$dark: #1C1C1C;
$medium: #262626;
$light: #333;
$lighter: #555;
$lightest: #888;

$blue1: rgba(90, 200, 255, 1);
$blue9: rgba(90, 200, 255, 0.9);
$blue8: rgba(90, 200, 255, 0.8);
$blue7: rgba(90, 200, 255, 0.7);
$blue6: rgba(90, 200, 255, 0.6);
$blue5: rgba(90, 200, 255, 0.5);
$blue4: rgba(90, 200, 255, 0.4);
$blue3: rgba(90, 200, 255, 0.3);
$blue2: rgba(90, 200, 255, 0.2);
$blue01: rgba(90, 200, 255, 0.1);

$green1: rgba(0, 255, 80, 1);
$green9: rgba(0, 255, 80, 0.9);
$green8: rgba(0, 255, 80, 0.8);
$green7: rgba(0, 255, 80, 0.7);
$green6: rgba(0, 255, 80, 0.6);
$green5: rgba(0, 255, 80, 0.5);

$red1: rgba(255, 0, 0, 1);
$red9: rgba(255, 0, 0, 0.9);
$red8: rgba(255, 0, 0, 0.8);
$red7: rgba(255, 0, 0, 0.7);

$yellow1: rgba(200, 190, 0, 1);
$yellow9: rgba(200, 190, 0, 0.9);
$yellow8: rgba(200, 190, 0, 0.8);
$yellow7: rgba(200, 190, 0, 0.7);

$purple1: rgba(100, 50, 220, 1);

/**FONTS**/

$fmain: Calibri;

$flarge: 3rem;
$fmedium: 2rem;
$fmediumsmall: 1.5rem;
$fnormal: 1rem;

/**MARGINS**/

$mbottom: 3rem;

/**CLASSES**/

.none {
    display: none;
}

.title {
    color: $blue1;
    font-size: $flarge;
    font-weight: bold;
    margin-bottom: 1rem;
}

.subtitle {
    color: $blue9;
    font-size: $fmedium;
    margin-bottom: 1rem;
}

.box-wrapper {
    background: $medium;
    padding: 1rem;
    margin: 0 15vw $mbottom;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: $fmain;
}

@media (max-width: 700px) {
    .box-wrapper {
        margin: 0 8vw $mbottom;
    }
}

.editor {
    border: 2px solid $darker;
}

.title-box {
    @extend .title ;    
    @extend .box-wrapper ;
}

.subtitle-box {
    @extend .box-wrapper ;
    @extend .subtitle ;
}

.text-box {
    @extend .box-wrapper ;
    color: $blue7;
    font-size: $fnormal;
    display: auto;
    text-align: left;

    .text {
        margin-bottom: 0.5rem;
        text-align: left;
    }

    .alert-box {
        position: absolute;
        top: -$mbottom;
        left: 0;
        right: 0;
        width: 100%;
        height: $mbottom - 1rem;
        max-height: $mbottom;
        padding: 0.5rem 1rem;
        display: flex;
        align-items: flex-end;
        color: $purple1;
    }

    .add-box {
        @extend .alert-box ;
        animation-name: added;
        animation-duration: 8s;        
        animation-iteration-count: 1;        
    }

    .remove-box {
        @extend .alert-box ;
        animation-name: removed;
        animation-duration: 8s;
        animation-iteration-count: 1; 
    }

    .warning-box {
        @extend .alert-box ;
        animation-name: warning;
        animation-duration: 8s;        
        animation-iteration-count: 1;
    }

    .alert-fadeout {
        animation-name: fadeout;
        animation-iteration-count: 1;
        animation-duration: 4s;
    }

}

.content-wrapper {
    display: flex;
    
}

/**WELCOME BOX**/

.welcome-letter {
}

/**WELCOME ANIMATION**/

@keyframes welcome {
    from {
        color: $faded;
    }
    to {
        color: $blue1;
    }
}

/**ALERT ANIMATIONS**/

@keyframes fadeout {
    from {
        color: $purple1;
    }
    to {
        color: $faded;
    }
}

@keyframes added {
    from {
        color: $green8;
    }
    to {
        color: $purple1;
    }
}

@keyframes removed {
    from {
        color: $yellow8
    }
    to {
        color: $purple1;
    }
}

@keyframes warning {
    from {
        color: $red8;
    }
    to {
        color: $purple1;
    }
}

//RESPONSIVE CSS FOUND IN NAVBAR.CSS
