
@import './theme';

.App {
    background: $dark;
    color: $blue6;
    min-height: 100vh;

    .main {
        min-height: 100vh;
        padding-top: 3rem;
        padding-bottom: 1rem;

        * {
            font-family: $fmain;
        }

        .post-box {
            @extend .box-wrapper ;
            flex-flow: row wrap;
            justify-content: space-around;
        }

    }

    // RESPONSIVE CSS FOUND IN NAVBAR.SCSS

    // CODE

    code {
        display: inline-block;
        background: $faded1;
    }

}
