/**THEME**/
/**COLORS**/
/**FONTS**/
/**CLASSES**/
.none {
  display: none; }

.title, .title-box {
  color: #5ac8ff;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem; }

.subtitle, .subtitle-box {
  color: rgba(90, 200, 255, 0.9);
  font-size: 2rem;
  margin-bottom: 1rem; }

.box-wrapper, .title-box, .subtitle-box, .text-box {
  background: #262626;
  padding: 1rem;
  margin: 0 15vw 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Calibri; }

@media (max-width: 700px) {
  .box-wrapper, .title-box, .subtitle-box, .text-box {
    margin: 0 8vw 3rem; } }

.text-box {
  color: rgba(90, 200, 255, 0.7);
  font-size: 1rem;
  display: auto;
  text-align: justify; }

.App {
  background: #1C1C1C;
  color: rgba(90, 200, 255, 0.6);
  min-height: 100vh; }
  .App .main {
    min-height: 100vh;
    padding: 3rem 0; }
