
@import './theme';

.App {
    width: 100%;
    overflow-x: hidden;
    background: $dark;
    color: $blue6;
    min-height: 100vh;
    font-family: $fmain;

    .main {
        width: 100%;
        overflow-x: hidden;
        min-height: 100vh;
        padding-top: 3rem;
        padding-bottom: 1rem;

        .post-box {
            @extend .box-wrapper ;
            padding: 1.5rem;
            flex-direction: column;
            justify-content: space-around;
            align-items: stretch;
        }

    }

    // RESPONSIVE CSS FOUND IN NAVBAR.SCSS

}
