
@import './theme';

.App {
    width: 100%;
    overflow-x: hidden;
    background: $dark;
    color: $blue6;
    min-height: 100vh;

    .main {
        width: 100%;
        overflow-x: hidden;
        min-height: 100vh;
        padding-top: 3rem;
        padding-bottom: 1rem;

        * {
            font-family: $fmain;
        }

        .post-box {
            @extend .box-wrapper ;
            flex-direction: column;
            justify-content: space-around;
            align-items: stretch;
        }

    }

    // RESPONSIVE CSS FOUND IN NAVBAR.SCSS

    // CODE

    code {
        display: inline-block;
        background: $faded1;
    }

}
